header {
    background-color: #336699;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
}

#search-bar {
    margin-top: 10px;
    padding: 5px;
    width: 200px;
}

.type-tabs {
    margin-top: 10px;
}

.type-tab {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
}

.type-tab:hover {
    background-color: #ccc;
}

.type-tab.active {
    background-color: #bbb;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px;
    padding: 20px;
}

.pokemon-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.pokemon-item img {
    width: 100px;
    height: 100px;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination button {
    padding: 5px 15px;
    margin: 0 10px;
    cursor: pointer;
}

#page-info {
    display: inline-block;
    min-width: 80px;
}